<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDq97EVVWSmqeash-a1W_BaJgYtpl6l4A8</string>
	<key>GCM_SENDER_ID</key>
	<string>867918378881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devsmond.Lochness</string>
	<key>PROJECT_ID</key>
	<string>lochnessmonster-2b219</string>
	<key>STORAGE_BUCKET</key>
	<string>lochnessmonster-2b219.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867918378881:ios:fc531dc34b62f1758e1a80</string>
</dict>
</plist>